{% extends "layout.twig" %}
{% block stylesheet %}
	{{ parent() }}
{% endblock %}
{% block script %}
	<scirpt type="text/template" id="item-template">
		<div class="view">
			<input type="checkbox" class="toggle" <%= completed ? 'checked="checked"' : '' %>>
			<label><%- title %></label>
			<button class="destroy"></button>
		</div>
		<input type="text" class="edit" value="<%- title %>">
	</scirpt>
	<script type="text/template" id="stats-template">
		<span id="todo-count"><strong><%= remaining %></strong></span>
		<%= remaining === 1 ? 'item' : 'items' %> left </span>
		<ul id="filters">
			<li><a href="#" class="selected">All</a></li>
			<li><a href="#">Active</a></li>
			<li><a href="#">Completed</a></li>
		</ul>
		<% if (completed) { %>
			<button id="clear-completed">Clear completed (<%= completed %>)</button>
		<% } %>
	</script>
	{{ parent() }}
	<script src="/js/underscore/underscore.js"></script>
	<script src="/js/backbone/backbone.js"></script>
	<script src="/js/backbone/backbone.localStorage.js"></script>
	<script src="/js/app/models/todo.js"></script>
	<script src="/js/app/collections/todos.js"></script>
	<script src="/js/app/views/todos.js"></script>
	<script src="/js/app/views/todos.js"></script>
	<script src="/js/app/routers/router.js"></script>
	<script src="/js/app/app.js"></script>
{% endblock %}
{% block content %}
<section id="todoapp">
	<header id="header">
		<h1>todos</h1>
		<input type="text" id="new-todo" placeholder="What needs to be done ?" autofocus="">
	</header>
	<section id="main">
		<input type="checkbox" id="toggle-all">
		<label for="toggle-all">Mark all as complete</label>
	</section>
	<div id="info">
		<p>Double click to edit a todo</p>
	</div>
</section>
{% endblock %}